* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

body {
  background-color: rgb(230, 229, 229);
}

#root {
  max-width: 550px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 9px;
}

/* NAVBAR */

nav {
  height: 70px;
  display: flex;
  padding: 20px 30px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  max-width: 100px;
}

/* HERO */

.hero {
  padding: 25px 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero--img {
  max-width: 395px;
  margin-bottom: 32px;
}




.hero--img {
  max-width: 400px;
  align-self: center;
}

.hero--title {
  margin-bottom: 16px;
  color: #000;
  font-size: 2rem;
  font-weight: 600;
  line-height: 110%; /* 39.6px */
}

.hero--text {
  color: #222;
  font-size: 1rem;
  font-weight: 300;
  line-height: 110%; /* 17.6px */
  padding-right: 160px;
}
